* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background: #343a40;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #6272a4;
}

.container {
  width: 100%;
}

.column {
  margin-top: 30px;
}

.navbar {
  font-size: 11px;
  background: #44475a;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: left; /* Cancel default li float: left */
  width: 120px;
}

/* .navbar-fixed-left + .container {
  padding-left: 20px;
} */

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.nav li {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -5px;
}

a,
a:hover {
  text-decoration: none;
}

.settings,
.settings:hover {
  color: #8be9fd;
}
.settings i {
  background: #8be9fd;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.gists,
.gists:hover {
  color: #47e96d;
}
.gists i {
  background: #47e96d;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.stackOverflow,
.stackOverflow:hover {
  color: #ffc107;
}
.stackOverflow i {
  background: #ffc107;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.trending,
.trending:hover {
  color: #e83e8c;
}
.trending i {
  background: #e83e8c;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.scratchPad,
.scratchPad:hover {
  color: #6f42c1;
}
.scratchPad i {
  background: #6f42c1;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.playground,
.playground:hover {
  color: #f8f9fa;
}
.playground i {
  background: #f8f9fa;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}
i.fa-lock {
  color: white;
  background: #44475a;
}

.help,
.help:hover {
  color: #f1fa8c;
}
.help i {
  background: #f1fa8c;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.navbar-brand svg {
  margin-top: 480px;
  margin-bottom: 0;
  float: end;
}

.navbar-brand svg:hover {
  fill: #f1fa8c;
}

.list-inline {
  margin-top: -30px;
}

.list-inline-item {
  border-radius: 50%;
  color: white;
  font-size: 11px;
  padding: 4px;
  text-decoration: none;
}

/* social media */
.facebook {
  color: white;
  background: rgb(59, 89, 152);
}

.linkedIn {
  background: rgb(0, 127, 177);
}

.twitter {
  background: rgb(0, 172, 237);
}

.reddit {
  background: rgb(95, 153, 207);
}

/* reddit feed column*/
.reddit-feed {
  width: 25%;
  text-align: left;
  width: 100%;
  top: 0;
  overflow-y: auto;
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
}
.reddit-feed h5 {
  color: #8be9fd;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
}

.reddit-feed blockquote {
  font-size: 5px;
}

/* search history/clock column*/
.search-history {
  width: 50%;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  top: 0;
  max-height: 49%;
  overflow-y: auto;
}
.search-history h5 {
  color: #8be9fd;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
}

.search-history-list {
  list-style: none;
  font-size: 14px;
}

.search-history-list img {
  border-color: green;
}

.search-history-list a {
  text-decoration: none;
  color: #6272a4;
}

.search-history-list a:hover {
  color: #f1fa8c;
}

.search-history-list span {
  color: #999999;
  float: right;
}

.clock {
  text-align: center;
}

.clock p i {
  background: #ffc107;
  border-radius: 50%;
  padding: 2px;
  color: #343a40;
}

#got-it {
  background: #343a40;
  color: #ffc107;
  border: none;
  align-items: center;
}

/* github feed column */
.github-feed {
  width: 25%;
}
.github-feed h5 {
  color: #8be9fd;
  margin-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
}
