* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: #282a36;
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
  color: #6272a4;
}

hr {
  background: #44475a;
}

/* NAVBAR */
.navbar {
  font-size: 13px;
  font-family: 'Inconsolata', monospace;
  background: #44475a;
  font-weight: 100;
  flex: 1;
}

.nav li {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: -5px;
}

a,
a:hover {
  text-decoration: none;
}

.settings,
.settings:hover {
  color: #8be9fd;
}
.settings i {
  background: #8be9fd;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.gists,
.gists:hover {
  color: #47e96d;
}
.gists i {
  background: #47e96d;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.stackOverflow,
.stackOverflow:hover {
  color: #ffc107;
}
.stackOverflow i {
  background: #ffc107;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.trending,
.trending:hover {
  color: #e83e8c;
}
.trending i {
  background: #e83e8c;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.scratchPad,
.scratchPad:hover {
  color: #6f42c1;
}
.scratchPad i {
  background: #6f42c1;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.playground,
.playground:hover {
  color: #f8f9fa;
}
.playground i {
  background: #f8f9fa;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}
i.fa-lock {
  color: white;
  background: #44475a;
}

.help,
.help:hover {
  color: #f1fa8c;
}
.help i {
  background: #f1fa8c;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.navbar-brand svg {
  margin-top: 490px;
  margin-bottom: 0;
  text-align: center;
  margin-left: 10px;
}

.navbar-brand svg:hover {
  fill: #f1fa8c;
}

.list-inline {
  margin-top: -40px;
}

.list-inline-item {
  border-radius: 50%;
  font-size: 11px;
  margin: 0;
  padding: 4px;
  text-decoration: none;
}

/* social media */
.facebook {
  background: rgb(59, 89, 152);
}
.facebook i {
  color: #fff;
}

.linkedIn {
  background: rgb(0, 127, 177);
}
.linkedIn i {
  color: #fff;
}

.twitter {
  background: rgb(0, 172, 237);
}
.twitter i {
  color: #fff;
}

.reddit {
  background: rgb(95, 153, 207);
}
.reddit i {
  color: #fff;
}

.wrapper {
  display: flex;
}

.wrapper div {
  padding: 5px;
}

.main {
  display: flex;
  height: 100vh;
}

/* LEFT SECTION */
.left {
  flex: 1;
}

.reddit-feed {
  height: 100vh;
  overflow-y: scroll;
  -webkit-scrollbar: none;
}

.reddit-feed h5 {
  color: #8be9fd;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
}

.reddit-feed-content {
  border-left: 3px solid #44475a;
  padding-left: 9px;
}

.reddit-feed-content:hover {
  border-left: 3px solid #47e96d;
}

.reddit-feed-content h5 {
  text-transform: none;
  color: #fff;
  text-align: left;
  font-size: 13px;
}

/* MIDDLE SECTION */
.middle {
  flex: 2;
}

.search-history {
  overflow-y: scroll;
}

.search-history-list {
  list-style: none;
  font-size: 12px;
}

.search-history-list img {
  border-color: green;
  padding: 5px;
}

.search-history-list li {
  padding: 10px;
}

.search-history-list a {
  text-decoration: none;
  color: #6272a4;
}

.search-history-list a:hover {
  color: #f1fa8c;
}

.search-history-list span {
  color: #999999;
  float: right;
}

.search-history,
.clock {
  height: 50vh;
}

.search-history h5 {
  color: #8be9fd;
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
}

.clock {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.clock p i {
  background: #ffc107;
  border-radius: 50%;
  padding: 3px;
  color: #282a36;
}

#got-it {
  background: #282a36;
  color: #ffc107;
  border: none;
  align-items: center;
}

/* RIGHT SECTION */
.right {
  flex: 1;
}

.github-feed {
  text-align: center;
}

.github-feed h5 {
  color: #8be9fd;
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
}

.github-feed .top-content h5 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
}

.github-feed .top-content a {
  color: #6272a4;
  font-size: 12px;
}

/* .bottom-content {
  height: 40vh;
} */

.github-feed .tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}

#issues a,
#pull-requests a {
  text-transform: uppercase;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  align-content: start;
}

#issues a,
#issues i {
  color: #f1fa8c;
}

#pull-requests a {
  color: #e83e8c;
}
