body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.navbar {
  font-size: 12px;
  background: #44475a;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: left; /* Cancel default li float: left */
  width: 120px;
}

/* .navbar-fixed-left + .container {
  padding-left: 20px;
} */

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

a,
a:hover {
  text-decoration: none;
}

.settings {
  color: #8be9fd;
}
.settings i {
  background: #8be9fd;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.gists {
  color: #47e96d;
}

.gists i {
  background: #47e96d;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.stackOverflow {
  color: #ffc107;
}

.stackOverflow i {
  background: #ffc107;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.trending {
  color: #e83e8c;
}

.trending i {
  background: #e83e8c;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.scratchPad {
  color: #6f42c1;
}

.scratchPad i {
  background: #6f42c1;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

.playground {
  color: #f8f9fa;
}

.playground i {
  background: #f8f9fa;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

i.fa-lock {
  color: white;
  background: #44475a;
}

.help {
  color: #f1fa8c;
}

.help i {
  background: #f1fa8c;
  font-size: 14px;
  padding: 3px;
  border-radius: 2px;
  color: #44475a;
}

/* .nav li i {
  font-size: 14px;
  border-radius: 2px;
  padding: 3px;
  margin-right: 5px;
  background: white;
} */

.navbar-brand svg {
  margin-bottom: -450px;
}

/* a.navbar-brand:hover {
  color: #f1fa8c;
} */

.list-inline-item {
  border-radius: 50%;
  color: white;
  font-size: 11px;
  padding: 4px;
  margin-top: 15px;
  text-decoration: none;
}

/* social media */
.facebook {
  color: white;
  background: rgb(59, 89, 152);
}

.linkedIn {
  background: rgb(0, 127, 177);
}

.twitter {
  background: rgb(0, 172, 237);
}

.reddit {
  background: rgb(95, 153, 207);
}

/* reddit feed column*/
.reddit-feed {
  background: #ccc;
  text-align: left;
}

.reddit-feed h5 {
  color: #8be9fd;
}

/* search history/clock column*/
.search-history {
  background: yellow;
}

/* github feed column */
.github-feed {
  background: blue;
}

.github-feed h5 {
  color: #8be9fd;
}
