* {
  margin: 0;
  padding: 0;
}

.navbar {
  font-size: 12px;
  background: #44475a;
}

.navbar-fixed-left {
  width: 140px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none; /* Cancel default li float: left */
  width: 120px;
}

.navbar-fixed-left + .container {
  padding-left: 20px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}
a,
a:hover {
  text-decoration: none;
}

.container {
  width: 100vw;
  position: relative;
}

.black {
  /* background: #ccc; */
  width: 100%;
  text-align: left;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}
